<!DOCTYPE text/html>
<html lang="fr">
  <head>
    <script src="constant.js"></script>
    <link rel="stylesheet" href="social.css">
    <link rel="stylesheet" href="patrom.css">
    <link rel="stylesheet" href="query.css">
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="spinner.css">
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="splitter.css">
    <link rel="stylesheet" href="queryBuilder.css">
    <link rel="stylesheet" href="prism.css">
    <link rel="stylesheet" href="window.css">
    <script src="gui.js"></script>
    <script src="splitter.js"></script>
    <script>
      (function(e, t, n) {
        var r = e.querySelectorAll("html")[0];
        r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2")
      })(document, window, 0);
    </script>
  </head>
  <body onload="document.documentElement.className = localStorage.getItem('theme');">
    <div id="spinner" class="loading">Loading&#8230;</div>
    <div id="container">
      <div id="first">
        <div id="popup" class="popup">
          <div class='popup-text' id="parici">
            <pre id="pre">Nothing</pre>
          </div>
          <a id="popupClose" class='popup-close' href="#">X</a>
        </div>
        <div class="login-form">
          <form id="actionForm" action="" method="post">
            <!-- START ACCORDION -->
            <div class="patrom-accordions pro-form">
              <input type="hidden" id="_action" name="_action" value="" />
              <!-- New Service -->
              <div class="patrom-accordion">
                <input class="patrom-accordion-check" type="checkbox" id="chck1" checked>
                <label class="patrom-accordion-label" for="chck1" id="Labelchck1">New Service</label>
                <div class="patrom-accordion-content">
                  <div class="patrom-row">
                    <!-- Name -->
                    <div class="patrom-col col-span-6">
                      <div class="field">
                        <label for="optName">Name :</label>
                        <input id="optName" name="optName" type="text" class="patrom-text-input" _100-100>
                      </div>
                    </div>
                    <!-- Version -->
                    <div class="patrom-col col-span-2">
                      <div class="field">
                        <label for="optVersion">version</label>
                        <br>
                        <select class="patrom-select" tabindex="1" name="optVersion" id="optVersion"></select>
                      </div>
                    </div>
                    <!-- Page -->
                    <div class="patrom-col col-span-2">
                      <div class="field">
                        <label for="pageOption">nb / page</label>
                        <input id="pageOption" name="pageOption" maxlength="8" type="text" class="patrom-text-input" size="6">
                      </div>
                    </div>
                  </div>
                  <div class="patrom-row">
                    <!-- Password -->
                    <div class="patrom-col col-span-6">
                      <div class="field">
                        <label for="optPassword">Password :</label>
                        <input id="optPassword" name="optPassword" type="text" class="patrom-text-input" _100-100>
                      </div>
                    </div>
                    <!-- Repeat -->
                    <div class="patrom-col col-span-6">
                      <div class="field">
                        <label for="optRepeat">Repeat :</label>
                        <input id="optRepeat" name="optRepeat" type="text" class="patrom-text-input" _100-100>
                      </div>
                    </div>
                  </div>
                  <!-- Options -->
                  <div class="patrom-row">
                    <div class="patrom-col col-span-12">
                      <div class="field">
                        <label for="optionsOption">Options :</label>
                        <select class="patrom-multiselect" name="optionsOption" id="optionsOption"></select>
                      </div>
                    </div>
                  </div>
                  <!-- Extensions -->
                  <div class="patrom-row">
                    <div class="patrom-col col-span-12">
                      <div class="field">
                        <label for="extensionsOption">Extensions :</label>
                        <select class="patrom-multiselect" name="extensionsOption" id="extensionsOption"></select>
                      </div>
                    </div>
                  </div>
                  <div class="patrom-row">
                    <!-- Date -->
                    <div class="patrom-col col-span-5">
                      <div class="field">
                        <label for="dateOption">Date format</label>
                        <input id="dateOption" name="dateOption" maxlength="8" type="text" class="patrom-text-input" size="6">
                      </div>
                    </div>
                    <!-- Csv -->
                    <div class="patrom-col col-span-1">
                      <div class="field">
                        <label for="csvOption">Csv</label>
                        <input id="csvOption" name="csvOption" maxlength="8" type="text" class="patrom-text-input" size="6">
                      </div>
                    </div>
                  </div>
                  <div class="patrom-row">
                    <div class="patrom-button-bar__item">
                      <button class="patrom-button-bar__button" id="btnService"> Create service </button>
                    </div>
                    <div class="patrom-button-bar__item">
                      <button class="patrom-button-bar__button" id="btnPipo"> Test </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Tools -->
              <div class="patrom-accordion">
                <input class="patrom-accordion-check" type="checkbox" name="propertyTab" id="chck4">
                <label class="patrom-accordion-label" for="chck4">Tools</label>
                <div class="patrom-accordion-content">
                  <!-- Logs -->
                  <div class="patrom-col col-span-2">
                    <div class="field">
                      <label for="optLogs">Logs</label>
                      <br>
                      <select class="patrom-select" tabindex="1" name="optLogs" id="optLogs"></select>
                    </div>
                  </div>
                  <div class="patrom-col col-span-12">
                    <div class="patrom-button-bar">
                      <div class="patrom-button-bar__item">
                        <button class="patrom-button-bar__button" id="btnExport">Export</button>
                      </div> &nbsp; <div class="patrom-button-bar__item">
                        <button class="patrom-button-bar__button" id="btnClear">clear</button>
                      </div> &nbsp; <div class="patrom-button-bar__item">
                        <button class="patrom-button-bar__button" id="btnPostTemplate">Template</button>
                      </div> &nbsp; <div class="patrom-button-bar__item">
                        <button class="patrom-button-bar__button" id="btnShowLinks">urls</button>
                      </div> &nbsp; <div class="patrom-button-bar__item">
                        <button class="patrom-button-bar__button" id="btnShowGeo">geos</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Infos -->
              <div class="patrom-row">
                <div class="patrom-col col-span-2">
                  <label class="patrom-switch">
                    <input id="theme" type="checkbox" class="patrom-switch__input" onchange="localStorage.setItem('theme', localStorage.getItem('theme') === 'dark' ? 'light' : 'dark'); document.documentElement.className = localStorage.getItem('theme');">
                    <div class="patrom-switch__theme"></div>
                  </label>
                </div>
              </div>
            </div>
            <!-- END ACCORDION --> @connection@
            <!-- JSON DATAS --> @jsonDatas@
            <!-- BUTTONS ICONS -->
          </form>
        </div>
        <!-- SOCIAL PANEL HTML --> @social@ @new@
      </div>
      <div id="two">
        <div id="wrapper" class="wrapper">
          <div class="row"> @cards@ </div>
        </div>
      </div>
      <div id="modalOverlay"></div>
    </div>
    <script src="patrom.js"></script>
    <script src="helper.js"></script>
    <script src="multiSelect.js"></script>
    <script src="admin.js"></script>
    <script src="graph.js"></script>
    <script src="modal.js"></script>
    <script src="steanPrism.js"></script>
    <script src="window.js"></script>
    <script src="windowList.js"></script>
    <script src="social.js"></script>
  </body>
</html>