<!DOCTYPE text/html>
<html lang="fr">
  <head>
    <script src="constant.js"></script>
    <link rel="stylesheet" href="social.css">
    <link rel="stylesheet" href="prism.css">
    <link rel="stylesheet" href="patrom.css">
    <link rel="stylesheet" href="query.css">
    <link rel="stylesheet" href="documentation.css">
    <link rel="stylesheet" href="spinner.css">
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="splitter.css">
    <link rel="stylesheet" href="queryBuilder.css">
    <link rel="stylesheet" href="window.css">
    <script src="gui.js"></script>
    <script src="splitter.js"></script>
    <script src="docDatas.js"></script>
    <script src="steanPrism.js"></script>
    <script>
      (function(e, t, n) {
        var r = e.querySelectorAll("html")[0];
        r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2")
      })(document, window, 0);
    </script>
  </head>
  <body>
    <div id="spinner" class="loading">Loading&#8230;</div>
    <div id="container">
      <div id="first">
        <div id="popup" class="popup">
          <div class='popup-text' id="parici">
            <pre id="pre">Nothing</pre>
          </div>
          <a id="popupClose" class='popup-close' href="#">X</a>
        </div>
        <div class="login-form">
          <!-- START ACCORDION -->
          <div class="patrom-accordions pro-form" id="menuTabs"></div>
          <!-- END ACCORDION -->
        </div>
        <!-- SOCIAL PANEL HTML --> @social@ @new@
      </div>
      <div id="two">
        <div id="wrapper" class="wrapper">
          <div id="content"></div>
        </div>
      </div>
      <div id="modalOverlay"></div>
    </div>
    <script src="patrom.js"></script>
    <script src="helper.js"></script>
    <script src="multiSelect.js"></script>
    <script src="graph.js"></script>
    <script src="modal.js"></script>
    <script src="window.js"></script>
    <script src="windowList.js"></script>
    <script src="social.js"></script>
    <script src="documentation.js"></script>
  </body>
</html>